Codealpha_Ecommerce-store/.venv/
Codealpha_Ecommerce-store/.vscode/
node_modules/
.env
.prd.md
Project_management_tool/backend/.venv/
Project_management_tool/backend/.vscode/
Project_management_tool/frontend/node_modules/
Project_management_tool/backend/env/
Codealpha_Ecommerce-store/backend/.venv/
Codealpha_Ecommerce-store/backend/.vscode/
Codealpha_Ecommerce-store/frontend/node_modules/
Codealpha_Ecommerce-store/backend/env/